# Main
aiohttp
anytree
aria2p
appdirs
attrdict
beautifulsoup4
cloudscrape
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
js2py
git+https://github.com/jusidama18/lk21
lxml
Pillow
psutil
psycopg2-binary
pybase64
pyrogram
pyshorteners
python-dotenv
python-magic
python-telegram-bot
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
TgCrypto
torrentool==1.1.0
urllib3
youtube_dl

# My Stuff
html-telegraph-poster
py-kraken
pytz
python-dateutil
quotefancy
quoters
yt-dlp

# Requested by Someone
hachoir
hurry.filesize
